<p>
    Importing enables you to edit &amp; replace your shows, copy information from your blog or publish pre-recorded episodes.
</p>
<div class="row-fluid">
    <div class="span6">
        <span data-btr-icon="H" class="upload"></span>
        <p>Upload Episodes</p>
    </div>
    <div class="span6">
        <span data-btr-icon="Q" class="rss"></span>
        <p>Import by RSS</p>
    </div>
</div>
<p>
    <a href="{{link}}" class="btn btn-warning btn-large input-block-level">Go Premium Now</a>
</p>
